#app, #start, #game-wrapper {
    height: 100vh;
    width: 100vh;
}

#app {
    background-color: white;
}

.hide {
    display: none !important;
}

#start {
    display: flex;
    align-items: center;
}

#username-form {
    margin: 0 auto;
    text-align: center;
}

#game-wrapper {
    display: flex;
}

#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-right: 1px solid gray;
}

#game h3 {
    background-color: cornflowerblue;
    border-color: white;
    padding: 0.5rem 0.75rem;
    color: wheat;
}

#users {
    flex-basis: 20%;
}

#users h3 {
    background-color: cornflowerblue;
    padding: 0.5rem 0.75rem;
    color: wheat;
}

#users ul {
    margin: 0;
    padding: 0.5rem 0.75rem;
    list-style: none;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid black;
    height: 60px;
}

#game-board {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.virus {
    background-color: red;
    border-radius: 5px;
}

.clickedvirus {
    background-color: green;
}

#endgame {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.endgame-wrapper {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}

#score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#score span {
    font-size: 25px;
}

#reaction {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#score span {
    font-size: 20px;
}